.decryptContainer {
    padding: 2vw var(--main-padding) 5vw var(--main-padding);
    align-items: center;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
