html {
    font-family: 'Ubuntu', sans-serif;
    // font-family: 'Zen Dots', cursive;

    /* COLORS */

    --gentle-lime: #f2ff5e;
    --lime: #ebff00;

    /* POSITIONS */

    --main-padding: 8vw;
}

body {
    font-family: 'Ubuntu', sans-serif;

    h3 {
        font-size: 1.5vw;

        &.lemon {
            color: var(--gentle-lime);
        }
    }

    h5 {
        font-size: 1vw;

        &.lemon {
            color: var(--gentle-lime);
        }
    }

    .chakra-container {
        padding: 0vw;
        // height: 100%;
        font-family: 'Ubuntu', sans-serif;
    }
}

.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background: linear-gradient(to bottom, rgb(0, 0, 0), white);
    position: relative;
    background-attachment: scroll;
    font-family: 'Ubuntu', sans-serif;

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 20%;
        position: absolute;
        left: 0;
        bottom: 0;
        background-image: url(./styles/icons/page_pattern.svg);
        background-repeat: repeat;
        background-size: contain;
    }

    button {
    }
}
