.requestJoinContainer {
    padding: 2vw var(--main-padding) 5vw var(--main-padding);
    // position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;

    // margin-bottom: 18vw;
}
